@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&family=Open+Sans&display=swap");

:root {
	--LightCyan: hsl(193, 38%, 86%);
	--NeonGreen: hsl(150, 100%, 66%);
	--GrayishBlue: hsl(217, 19%, 38%);
	--DarkGrayishBlue: hsl(217, 19%, 24%);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Manrope", sans-serif;
	font-size: 28px;
	background: hsl(220, 16%, 15%);
	padding: 1.25rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.container {
	padding: 1.25rem;
	background: var(--DarkGrayishBlue);
	border-radius: 0.7em;
}

h1 {
	font-size: 0.9rem;
	color: var(--NeonGreen);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.3rem;
	margin-bottom: 1.5em;
}

p {
	color: var(--LightCyan);
	text-align: center;
	font-size: 1.5rem;
	margin-bottom: 1em;
}

.divider img {
	width: 100%;
}

.container button {
	background: var(--NeonGreen);
	padding: 1.6rem;
	border-radius: 50%;
	border: none;
	position: relative;
	left: 50%;
	transform: translate(-50%, 75%);
	cursor: pointer;
}

.container button:hover {
	background: hsl(150, 100%, 50%);
	box-shadow: 1px 1px 20px 1px hsl(150, 100%, 50%);
}

.container button img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

footer {
	position: absolute;
	bottom: 1em;
}

.attribution {
	font-size: 11px;
	text-align: center;
	color: var(--LightCyan);
}
.attribution a {
	color: var(--NeonGreen);
	text-decoration: none;
}

@media (min-width: 500px) {
	.container {
		max-width: 480px;
	}
}
